<div class="row">
  <div class="col-md-5">
    <div class="panel panel-info chat-window">
      <div class="panel-heading chatboxhead">
        <%= fa_icon "commenting-o" %>Chat with
        <%= @reciever.username %>
        <div class="btn-group pull-right chat-actions">
          <%= link_to "#", class: "toggleChatBox", "data-cid" => @conversation.id do %>
            <%= fa_icon "minus" %>
          <% end %>
          &nbsp;&nbsp;
          <%= link_to "#", class: "closeChat", "data-cid" => @conversation.id do %>
            <%= fa_icon "times" %>
          <% end %>
        </div>
      </div>
        <div class="panel-body">
          <ul class="chat chatboxcontent">
            <% if @messages.any? %>
              <%= render @messages %>
            <% end %>
          </ul>
        </div>
        <div class="panel-footer chatboxinput">
          <%= form_for([@conversation, @message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
            <%= f.text_area :body, id: "btn-input", class: "chatboxtextarea form-control input-sm", placeholder: "Type your message here...", "data-cid" => @conversation.id %>
            <span class="input-group-btn">
              <button class="btn btn-info btn-sm" id="btn-chat">
                Send
              </button>
            </span>
          <% end %>
        </div>
    </div>
  </div>
</div>
<%= subscribe_to conversation_path(@conversation) %>
