<div class="jumbotron text-center">
  <h2>People</h2>
  <div class="row">
    <div class="liner"></div>
    <div class="col-md-3">
      <div class="item #{'active' unless params[:people]}">
        <p class="text-center">
          Explore
        </p>
        <%= link_to users_path do %>
          <span class="round-tabs one">
            <%= fa_icon "home" %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item #{'active' if params[:people] == 'friends'}">
        <p class="text-center">
          Friends
        </p>
        <%= link_to users_path(people: "friends") do %>
          <span class="round-tabs two">
            <%= fa_icon "users" %>
            <% unless @friend_count.zero? %>
              <span class="tab-badge two"><%= @friend_count %></span>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item #{'active' if params[:people] == 'requests'}">
        <p class="text-center">
          Requests
        </p>
        <%= link_to users_path(people: "requests") do  %>
          <span class="round-tabs three">
            <%= fa_icon "bullhorn" %>
            <% unless request_count.zero? %>
              <span class="tab-badge three"><%= request_count %></span>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item #{'active' if params[:people] == 'pending'}">
        <p class="text-center">
          Pending
        </p>
        <%= link_to users_path(people: "pending") do  %>
          <span class="round-tabs four">
            <%= fa_icon "refresh" %>
            <% unless @pending_count.zero? %>
              <span class="tab-badge four"><%= @pending_count %></span>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="well list-container">
    <ul class="list">
      <% if @users.empty? %>
        <h3 class="text-center">
            You have no <%= params[:people] %> at the moment.
        </h3>
      <% else %>
        <%= render @users %>
      <% end %>
    </ul>
  </div>
</div>
