<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= gravatar_tag @user.email, size: 200 %>
      </div>
      <div class="col-md-4">
        <h3><%= @user.username %></h3>
        <p>Age: <%= @user.age %></p>
        <p>Gender: <%= @user.gender %> </p>
        <p><%= link_to "Website", @user.website %></p>
        <p><%= link_to "Blog", @user.blog %></p>
      </div>
      <div class="col-md-4">
        <h3>About Me</h3>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Friend Zone -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Friends (<%= @user.active_friends.count %>)</h3>
        </div>
        <div class="panel-body">
          <% @user.active_friends.last(16).each do |user| %>
          <%= link_to user_path(user.username) do %>
            <%= gravatar_tag user.email, size: 40 %>
            <% end %>
          <% end %>
        </div>
        <div class="panel-footer">

        </div>
      </div>
    </div>
    <!-- Post Zone -->
    <div class="col-md-6">

    </div>
    <!-- Profile Zone -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Recent Activity</h3>
        </div>
        <div class="panel-body">
          <%= render_activities(@activities) %>
        </div>
        <div class="panel-footer">

        </div>
      </div>
    </div>
  </div>
</div>
