<div class="jumbotron text-center">
  <h1>Timeline</h1>
  <h4>Where all coders get together</h4>
  <div class="btn-group" role="group" aria-label="Default">
    <p>
      Filter By:
    </p>
    <%= link_to "Posts Only", activities_path(content: "posts"), class: "btn btn-default #{'active' if params[:content] == 'posts'}" %>
    <%= link_to "All Activity", activities_path, class: "btn btn-default #{'active' unless params[:content]}" %>
  </div>
  <p></p>
</div>

<div class="container">
  <ul class="timeline">
    <% @activities.each_with_index do |activity, index| %>
      <!-- If i am the owner of the activity, don't show it since it will be shown based on the other user. Etc: Delete one end of the friendship -->
      <% unless activity.trackable_type == "Friendship" && activity.owner == current_user %>
        <li class="<%='timeline-inverted' if index % 2 == 0%>">
          <div class="timeline-badge">
            <%= gravatar_tag activity.owner.email, size: 60 %>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= link_to activity.owner.username, user_path(activity.owner.username) %></h4>
              <p>
                <small class="text-muted">
                <%= fa_icon "clock-o" %>
                <%= time_ago_in_words(activity.created_at) %> ago
               </small>
              </p>
            </div>
            <div class="timeline-body">
              <% case activity.trackable_type %>
              <% when "Post" %>
                <p><%= raw(activity.trackable.content_html) %></p>
              <% when "Friendship" %>
                <p><%= link_to activity.owner.username, user_path(activity.owner.username) %> is now friends with <%= link_to activity.recipient.username, user_path(activity.owner.username) %></p>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
